.menubutton { width: 90%;
			height: 2em;
			text-align: center:}
#menuheader { background-color: yellow;}
#homeleft { width: 20%;
			float: left;
			text-align: center;
			height: 80em}
#homeright {width: 80%;
			float: right;
			background: maroon;
			height: 80em;}